/* Placeholder styles.css for future use - Based on the Index Page*/

body {
    background-color: #29292B;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 70%;  /* Allows flexibility */
    max-width: 1200px;  /* Expands on larger screens */
    min-width: 320px;  /* Prevents it from getting too small */
    margin: 20px auto;  /* Center the container */
    padding: 30px;  /* More padding for larger screens */
    background-color: #FAF0E6;
    border: 3px solid #556B2F
    ;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease-in-out;  /* Smooth resizing */
}
.logo img {
    width: 200px;
    height: 90px;
    margin-bottom: 20px;
}
h2 {
    color: #284389;
    font-size: 20px;
    font-weight: 700;
}
label {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-top: 10px;
    text-align: left;
    color: #000000;
}
input, select, textarea {
    width: 100%;
    padding: 4px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
textarea {
    height: 100px;
    resize: both;
}
.submit-btn {
    background-color: #284389;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
}
.submit-btn:hover {
    background-color: #A8C0E2;
}
.alert {
    background-color: green;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    width: 48%;
}
.footer-text {
    font-size: 12px;
    color: #b7b7b7;
    margin-top: 20px;
}