<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matt Faulkner">
    <meta name="robots" content="noindex, nofollow"> <!--Discourage Search Engine Indexing of this page-->
    <meta name="theme-color" content="#cf222e"> <!-- Mobile Browser stylized address bar.-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Force IE to use latest rendering engine available.-->
    <title>HTTP 500 - GoobyDesk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<!-- Start of the displayed HTML -->
<body>
    <center>HTTP Code 500 - Internal Server-side error. Not the reverse proxy either...
<br>
<p class="footer-text">©2025 GoobyDesk, FOSS created by <a href="https://github.com/goobyfrs">GoobyFRS</a></p>
</center>
</body>
</html>