<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matt Faulkner">
    <meta name="robots" content="noindex, nofollow"> <!--Discourage Search Engine Indexing of this page-->
    <meta name="theme-color" content="#284389"> <!-- Mobile Browser stylized address bar.-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Force IE to use latest rendering engine available.-->
    <title>Reports Home - GoobyDesk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style></style>
</head>

<h2>GoobyDesk Reporting</h2>

<ul>
  <li><strong>Total Tickets:</strong> {{ total_tickets }}</li>
  <li><strong>Open:</strong> {{ open_tickets }}</li>
  <li><strong>In-Progress:</strong> {{ in_progress_tickets }}</li>
  <li><strong>Closed:</strong> {{ closed_tickets }}</li>
</ul>

<h3>Recent Activity</h3>
<ul>
  <li>Last 60 days: {{ last_60_days }}</li>
  <li>Last 30 days: {{ last_30_days }}</li>
  <li>Last 14 days: {{ last_14_days }}</li>
  <li>Last 7 days: {{ last_7_days }}</li>
</ul>

